@import url('https://fonts.googleapis.com/css?family=Oswald:200,400|Lato:300,400,700|Montserrat:900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
}

body {
  @apply bg-white text-slate-900 font-lato;
}
